@using GameStore.WebUI.Authentication.Components

@model IEnumerable<GenreViewModel>

@{
    ViewBag.Title = Resource.Common_Genres;
}

<div class="page-header">
	<h1>
		@Resource.Common_Genres:
		@if (Html.IsUserInRole(UserRole.Manager))
		{
			@Html.ActionLink(Resource.Common_Create, "Create", "Genre", null, new { @class = "btn btn-success pull-right" })
		}
	</h1>
</div>

@Html.Partial("_Genres", Model.Where(g => g.Parent == null))
