<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPaymentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58425/PaymentService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaymentService"
                contract="Banking.IPaymentService" name="BasicHttpBinding_IPaymentService" />
        </client>
    </system.serviceModel>
</configuration>