<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="requestsInfoLog" xsi:type="File" fileName="${basedir}/App_Data/LogFiles/Requests.log" layout="${date} ${message}" />

    <target name="eventsInfoLog"
            xsi:type="File"
            fileName="${basedir}/App_Data/LogFiles/Events.log"
            layout="INFO: ${date}${newline}${message}${newline}"/>

    <target name="eventsErrorLog" 
            xsi:type="File" 
            fileName="${basedir}/App_Data/LogFiles/Events.log" 
            layout="*ERROR* [-- ${date} --]${newline}${message}${newline}Message:${newline}${event-properties:error-message}${newline}${event-properties:inner-error-message}${newline}*STACKTRACE*${newline}${event-properties:error-trace}${newline}**STACKTRACE**${newline}**ERROR**${newline}"/>

		<target name="eventsDebugLog"
            xsi:type="File"
            fileName="${basedir}/App_Data/LogFiles/Events.log"
            layout="DEBUG: ${date}${newline}${message}${newline}"/>
  </targets>

  <rules>
    <logger name="RequestLogger" level="Info" writeTo="requestsInfoLog" />
		<logger name="WebLogger" level="Error" writeTo="eventsErrorLog" />
    <logger name="WebLogger" level="Info" writeTo="eventsInfoLog" />
    <logger name="WebLogger" level="Debug" writeTo="eventsDebugLog" />
  </rules>
</nlog>