@model SelectListItem

<div class="checkbox">
    <label>
        <input type="checkbox" value="@Html.DisplayTextFor(m => m.Value)" name="genres"/>
        @Html.DisplayFor(m => m.Text)
    </label>
</div>
