@{
    ViewBag.Title = "Not Found";
    Layout = "_Layout.cshtml";
}

<h2>Requested page is not found</h2>

<p>Looks like something went completely wrong!</p>
<p>But don't worry - it can happen to the best of us, and it just happened to you.</p>